<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<title>{{ flatpage.title }}</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>{{ flatpage.title }}</h2>-->
<!--    <hr>-->
<!--    <h3>Наши клиенты:</h3>-->
<!--    {{ flatpage.content }}-->
<!--    {{ flatpage.content }}-->
<!--</body>-->
<!--</html>-->

<p>&nbsp;</p>
<p></p>
<h2>{{ flatpage.title }}</h2>
<hr />
<p><span style="color: #0000ff;"><em>Наши клиенты:</em></span></p>
<p><strong>{{ flatpage.content }}</strong> <span style="text-decoration: underline;">{{ flatpage.content }}</span></p>